{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul >
		{% for venue in area.venues %}
		<li>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>

				</div>
			</a>
			<p>Has {{venue.num_upcoming_shows}} upcoming show(s)</p>
			<form method="post" action="/venues/delete/{{venue.id}}" >
				<a href="/venues/{{venue.id}}"><button class="btn btn-primary btn-sm">Delete</button></a>
			</form>

		</li>



		{% endfor %}

	</ul>
{% endfor %}
{% endblock %}